/*
   Sets canvas as the background element
   Allows all other elements to stack atop it
   Imports a font to assure consistency
*/
@import url(https://fonts.googleapis.com/css?family=Oswald);

html {
		overflow: hidden;
		font-family: 'Oswald', sans-serif;
}
body {
		margin: auto;
}
canvas {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
}

#render_stat::before {
		content: "Render";
		color: white;
}

#input_stat::before {
		content: "Input";
		color: white;
}

#physics_stat::before {
		content: "Physics";
		color: white;
}